# Configuration for DeepONet model

# Device configuration
device:
  use_gpu: true  # Set to false to force CPU usage
  device_id: 0   # Specify which GPU to use if you have multiple

# Architecture
model:
  name: "SWE_DeepONet"
  branch_net:
    hidden_layers: [64, 128, 256, 128, 64]
    activation: "relu"
    dropout_rate: 0.0
    branch_input_dim: 3  # Number of sensors (input functions)
  trunk_net:
    hidden_layers: [64, 128, 256, 128, 64]
    activation: "relu"
    dropout_rate: 0.0
    trunk_input_dim: 2  # (x, y) coordinates
  output_dim: 3  # h (water depth), u (x-velocity), v (y-velocity)

# Training parameters
training:
  batch_size: 16384
  epochs: 10
  learning_rate: 0.001
  weight_decay: 1e-5
  scheduler:
    use_scheduler: true
    scheduler_type: "ReduceLROnPlateau"
    patience: 10
    factor: 0.5
    min_lr: 1e-6
  early_stopping:
    use_early_stopping: true
    patience: 30
    min_delta: 1e-5

# Data parameters
data:
  train_data_path: "data/train"
  val_data_path: "data/val"
  test_data_path: "data/test"
  bNormalized: true   #whether the data is normalized or not
  all_DeepONet_stats_path: "data/all_DeepONet_stats.json"  # Path to the DeepONet-related stats file (for normalization/denormalization purposes)
  branch_input_dim: 3  # Number of sensors (input functions)
  trunk_input_dim: 2  # (x, y) coordinates
  output_dim: 3  # h, u, v    
  nCells: 5036  # Number of cells in the SRH-2D cases