# Configuration for Physics-Informed Neural Network (PINN) for 2D Shallow Water Equations

# Device configuration
device:
  use_gpu: true
  device_id: 0

# Architecture
model:
  name: "SWE_PINN"
  bPDE_loss: true        #whether to use PDEs in the loss function (if false, no physics-based loss)
  bBoundary_loss: true   #whether to use boundary conditions in the loss function
  bSteady: true          #whether the problem is steady or transient. It is equal to bInitial_loss (internal variable), i.e., whether to include initial conditions mismatch in the loss function. For unsteady problems, bSteady is false and the initial conditions mismatch is included in the loss function.
  bData_loss: false       #whether to use SRH-2D results or measurement data as data points and values in the loss function (data assimilation)
  hidden_layers: [32, 64, 64, 64, 64, 32]  # Network architecture
  activation: "tanh"  # tanh is often better for PINNs
  output_dim: 3  # h (water depth), u (x-velocity), v (y-velocity)
  initialization: "xavier_normal"

# Physics parameters
physics:
  gravity: 9.81  # Gravitational acceleration (m/s^2)
  manning_coefficient: 0.03  # Manning's roughness coefficient
  # Loss weights for different terms
  loss_weights:
    continuity_eq: 1.0
    momentum_x_eq: 1.0
    momentum_y_eq: 1.0
    initial_condition: 1.0
    boundary_condition: 1.0
    data_points: 1.0  # If you have measurement data

# Training parameters
training:
  optimizers: ["Adam"] #["Adam", "LBFGS"]
  epochs: [6000]  # PINNs often need more epochs
  learning_rates: [0.001]
  weight_decay: 1.0e-5
  scheduler:
    use_scheduler: true
    scheduler_type: "ReduceLROnPlateau"
    patience: 1000
    factor: 0.5
    min_lr: 1.0e-6
  early_stopping:
    use_early_stopping: true
    patience: 2000
    min_delta: 1.0e-6
  save_freq: 1  # Save checkpoint every N epochs
  print_freq: 100  # Print progress every N epochs

# Sampling parameters
sampling:
  domain:
    x_min: 0.0
    x_max: 15.0  # Based on your mesh 
    y_min: 0.0
    y_max: 5.0   # Based on your mesh 
    t_min: 0.0
    t_max: 10.0  # Match your time settings (not used for steady problems)  
  num_pde_points: 1326      # # Number of space points (these should match your converted points)
  num_boundary_points: 118  # Points per boundary, will be multiplied by time steps

# Boundary conditions (should match your case setup in your physics-based model such as SRH-2D)
boundary_conditions:
  inlet:
    id: 1
    type: "inlet-q"
    q_value: 0.38  # m^3/s
  outlet:
    id: 2
    type: "exit-h"
    wse_value: 0.4  # m
  top:
    id: 3
    type: "wall"
  bottom:
    id: 4
    type: "wall"
  obstacle:
    id: 5
    type: "wall"

# Data paths
data:
  points_dir: "pinn_points"  # Directory containing the numpy point files
  checkpoint_dir: "checkpoints"
  plot_dir: "plots"