# Configuration for PI_SWE_DeepONet model

# Device configuration
device:
  type: "cuda"  # Set which device to use, "cuda" for GPU, "cpu" for CPU
  index: 0   # Specify which GPU to use if multiple GPUs are available

# Architecture
model:
  name: "PI_SWE_DeepONet"
  use_physics_loss: false  # Whether to enable physics-informed loss computation
  branch_net:
    hidden_layers: [64, 128, 256, 128, 64]
    activation: "relu"
    dropout_rate: 0.0
    branch_input_dim: 3  # Number of sensors (input functions)
  trunk_net:
    hidden_layers: [64, 128, 256, 128, 64]
    activation: "relu"
    dropout_rate: 0.0
    trunk_input_dim: 2  # (x, y) coordinates
  output_dim: 3  # h (water depth), u (x-velocity), v (y-velocity)  
  pinn_loss_flags:         #loss flags for the physics part
    bPDE_loss: true        #whether to include the PDEs loss in the loss function 

# Physics parameters
physics:
  bSteady: true           #whether the problem is steady or transient.
  gravity: 9.81  # Gravitational acceleration (m/s^2)  

  scales:        #physical scales for normalizing the PDEs
    length: 5.0  # Length scale (e.g., averaged water depth)
    velocity: 0.2  # Velocity scale (e.g., averaged velocity)
    
# Training parameters
training:
  batch_size: 16384
  epochs: 10
  save_freq: 10
  learning_rate: 0.01
  weight_decay: 1e-5
  scheduler:
    use_scheduler: true
    scheduler_type: "ReduceLROnPlateau"
    patience: 10
    factor: 0.5
    min_lr: 1e-6
  early_stopping:
    use_early_stopping: true
    patience: 30
    min_delta: 1e-5
  loss_weights:
    deeponet:
      data_loss: 1.0
      pinn_loss: 1.0
      boundary_loss: 1.0
      initial_loss: 1.0
    pinn:
      data_loss: 1.0
      pde_loss: 1.0
      boundary_loss: 1.0
      initial_loss: 1.0
    

# Data parameters
data:
  pinn: 
    points_dir: "data/PINN"    #for the physics part of the PI-DeepONet
  deeponet:
    train_data_path: "data/DeepONet/train"
    val_data_path: "data/DeepONet/val"
    test_data_path: "data/DeepONet/test"  
    train_val_test_stats_path: "data/DeepONet/train_val_test_stats.h5"  # Path to the dataset mean and std file (for normalization/denormalization purposes)
  nCells: 5036  # Number of cells in the SRH-2D cases